.language{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
}

#en{
    border: none;
    outline: none;
    background-color: white;
}
#ua{
    border: none;
    outline: none;
    background-color: white;
}
#submit{
    margin-top:30px;
    background-color: deepskyblue;
}