body{
    background-image:url("naukma_photo.jpg") ;
}
.div1{
    position: relative;
    width: 700px;
    height: 500px;
    top: 100px;
    right: 0;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    /*resize: both;*/
    overflow: auto;
}