<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p th:text="${error}" style="color: red; font-size: 24px;"></p>

    <form action="#" th:action="@{/applyForFaculty/{facultyid}(facultyid=${faculty.facultyid})}" th:object="${faculty}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{facultyid}" />

        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" class="form-control mb-4 col-4" required>

        <label for="totalPlaces">Total places</label>
        <input type="text" id="totalPlaces" th:field="*{totalPlaces}" class="form-control mb-4 col-4" required>

        <label for="title" th:text="#{budgetPlaces}"></label>
        <input type="text" th:field="*{budgetPlaces}" class="form-control mb-4 col-4" required>

        <label for="title" th:text="#{contractPlaces}"></label>
        <input type="text" th:field="*{contractPlaces}" class="form-control mb-4 col-4" required>

        <label for="title" th:text="*{firstSubject}"></label>
        <input type="text" th:name="firstSubject" class="form-control mb-4 col-4" required>

        <label for="title" th:text="*{secondSubject}"></label>
        <input type="text" th:name="secondSubject" class="form-control mb-4 col-4" required>

        <label for="title" th:text="*{thirdSubject}"></label>
        <input type="text" th:name="thirdSubject" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2" th:text="#{apply}"></button>
    </form>

    <hr>

    <a th:href = "@{/findFaculty}" th:text="#{back_to_list}"></a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>