<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Edit Faculty</title>
</head>
<body>
<div class="container">
    <h1 th:text="#{edit_system_faculty}">Faculty Management System</h1>
    <hr>
    <p th:text="${error}" style="color: red; font-size: 24px;"></p>
    <h2 th:text="#{edit_faculty}">Update Faculty</h2>

    <form action="#" th:action="@{/faculty/saveFaculty}" th:object="${faculty}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{facultyid}" />

        <label th:text="#{title}"></label>
        <input type="text" th:field="*{title}" class="form-control mb-4 col-4">

        <label th:text="#{totalPlaces}"></label>
        <input type="text" th:field="*{totalPlaces}" class="form-control mb-4 col-4">

        <label th:text="#{budgetPlaces}"></label>
        <input type="text" th:field="*{budgetPlaces}" class="form-control mb-4 col-4">

        <label th:text="#{contractPlaces}"></label>
        <input type="text" th:field="*{contractPlaces}" class="form-control mb-4 col-4">

        <label th:text="#{firstSubject}"></label>
        <input type="text" th:field="*{firstSubject}" class="form-control mb-4 col-4">

        <label th:text="#{secondSubject}"></label>
        <input type="text" th:field="*{secondSubject}" class="form-control mb-4 col-4">

        <label th:text="#{thirdSubject}"></label>
        <input type="text" th:field="*{thirdSubject}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2" th:text="#{edit_faculty}"></button>
    </form>

    <hr>

    <a th:href = "@{/findFaculty}" th:text="#{back_to_list}"> Back to Find List</a>
</div>
</body>
</html>