<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="/" th:text="#{nav}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:text="#{home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/findFaculty" th:text="#{faculties}"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/findStudent" th:text="#{students}"
                   sec:authorize="hasAuthority('ADMIN')"></a>
            </li>
        </ul>
    </div>
    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
        <span style="color: red;font-size: 20px;" th:text="#{hello}"></span>
        <a th:href="@{/userProfile}" sec:authentication="name" style="color: red;font-size: 20px;"></a>

        <form action="#" th:action="@{/logout}" method="post">
            <input class="btn btn-info" type="submit" th:value="#{logout}" />
        </form>
    </div>
    <form th:action="@{/login}"  sec:authorize="isAnonymous()">
        <button type="submit" th:text="#{sign_in}"></button>
    </form>
    <form th:action="@{/registration}"  sec:authorize="isAnonymous()">
        <button type="submit" class="btn btn-info" th:text="#{sign_up}"></button>
    </form>
    <a class="nav-link" th:if="${not #lists.isEmpty(faculties)}" th:href="@{?sortField=facultyid&sortDir=asc&localeData=en}">
        <img th:src="@{/static/united-kingdom.png}"/>English
    </a>
    <a class="nav-link" th:if="${not #lists.isEmpty(faculties)}" th:href="@{?sortField=facultyid&sortDir=asc&localeData=ua}">
        <img th:src="@{/static/ukraine.png}"/>Ukraine
    </a>
    <a class="nav-link" th:unless="${not #lists.isEmpty(faculties)}" th:href="@{?localeData=en}">
        <img th:src="@{/static/united-kingdom.png}"/>English
    </a>
    <a class="nav-link" th:unless="${not #lists.isEmpty(faculties)}" th:href="@{?localeData=ua}">
        <img th:src="@{/static/ukraine.png}"/>Ukraine
    </a>
</nav>
<div class="alert alert-primary" role="alert" th:text="${applied}" th:if="${applied}"></div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">
            <a th:if="${not #lists.isEmpty(faculties)}" th:href="@{'/faculty/page/' + ${currentPage} + '?sortField=facultyid&sortDir=' + ${reverseSortDir}}">
                #</a>
            <a th:unless="${not #lists.isEmpty(faculties)}">
                #</a>
        </th>
        <th scope="col">
            <a th:if="${not #lists.isEmpty(faculties)}" th:href="@{'/faculty/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
                Title</a>
            <a th:unless="${not #lists.isEmpty(faculties)}">
                Title</a>
        </th>
        <th scope="col">
            <a th:if="${not #lists.isEmpty(faculties)}" th:href="@{'/faculty/page/' + ${currentPage} + '?sortField=totalPlaces&sortDir=' + ${reverseSortDir}}">
                Total Places</a>
            <a th:unless="${not #lists.isEmpty(faculties)}">
                Total Places</a>
        </th>
        <th scope="col">
            <a th:if="${not #lists.isEmpty(faculties)}" th:href="@{'/faculty/page/' + ${currentPage} + '?sortField=budgetPlaces&sortDir=' + ${reverseSortDir}}">
                Budget Places</a>
            <a th:unless="${not #lists.isEmpty(faculties)}">
                Budget Places</a>
        </th>
        <th scope="col">
            <a th:if="${not #lists.isEmpty(faculties)}" th:href="@{'/faculty/page/' + ${currentPage} + '?sortField=contractPlaces&sortDir=' + ${reverseSortDir}}">
                Contract Places</a>
            <a th:unless="${not #lists.isEmpty(faculties)}">
                Contract Places</a>
        </th>
        <th scope="col">Actions</th>
        <th scope="col">
        <a th:href="@{/faculties/export/pdf}">
            PDF
        </a>
        </th>
        <th scope="col">

            <form th:action="@{/filterFaculty}" method="post">
                <label>
                    <input type="text" name="filter"/>
                </label>
                <button type="submit" class="btn btn-success" th:text="#{find_faculty}"></button>
            </form>

        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="faculty : ${faculties}">
        <th scope="row"><span th:text="${faculty.facultyid}"></span></th>
        <td><span th:text="${faculty.title}"></span></td>
        <td><span th:text="${faculty.totalPlaces}"></span></td>
        <td><span th:text="${faculty.budgetPlaces}"></span></td>
        <td><span th:text="${faculty.contractPlaces}"></span></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{/showFormForUpdateFaculty/{facultyid}(facultyid=${faculty.facultyid})}" th:text="#{update}"></a>
            <a class="btn btn-danger" th:href="@{/deleteFaculty/{facultyid}(facultyid=${faculty.facultyid})}" th:text="#{delete}"></a>
            <a class="btn btn-outline-success" th:href="@{/studentList/{facultyid}(facultyid=${faculty.facultyid})}" th:text="${faculty.students.size()}"></a>
        </td>
        <td sec:authorize="hasAuthority('USER')">
            <a class="btn btn-success" th:href="@{/applyForFaculty/{facultyid}(facultyid=${faculty.facultyid})}" th:text="#{apply}"></a>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${#lists.isEmpty(faculties)}" style="font-size: large;color: red;">
    <span th:text="#{no_faculties}"></span>
</div>
<div th:if = "${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            [[#{total_rows}]]: [[${totalItems}]]
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage > 1}" class="page-item" th:href="@{'/faculty/page/' + ${currentPage-1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" th:text="#{previousPage}"></a>
            <span th:unless="${currentPage > 1}" th:text="#{previousPage}"></span>
        </div>
        <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" class="page-item active" th:href="@{'/faculty/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" class="page-item" th:href="@{'/faculty/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" th:text="#{nextPage}"></a>
            <span th:unless="${currentPage < totalPages}"></span>
        </div>

    </div>
</div>
<form th:action="@{/faculty/addFaculty}" method="get" sec:authorize="hasAuthority('ADMIN')">
    <button type="submit" class="btn btn-primary" th:text="#{add_faculty}"></button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>