<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="/" th:text="#{nav}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:text="#{home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/findFaculty" th:text="#{faculties}"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/findStudent" th:text="#{students}"
                   sec:authorize="hasRole('ADMIN')"></a>
            </li>
        </ul>
    </div>
    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
        <span style="color: red;font-size: 20px;">Hello,</span>
        <span sec:authentication="name" style="color: red;font-size: 20px;"></span>

        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
    <form th:action="@{/login}"  sec:authorize="isAnonymous()">
        <button type="submit" th:text="#{sign_in}"></button>
    </form>
    <form th:action="@{/registration}"  sec:authorize="isAnonymous()">
        <button type="submit" th:text="#{sign_up}"></button>
    </form>
    <a class="nav-link" th:href="@{?localeData=en}">
        <img th:src="@{/static/united-kingdom.png}"/>English
    </a>
    <a class="nav-link" th:href="@{?localeData=ua}">
        <img th:src="@{/static/ukraine.png}"/>Ukraine
    </a>
</nav>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">
            <a th:href="@{'/student/page/' + ${currentPage} + '?sortField=studentid&sortDir=' + ${reverseSortDir}}">
                #</a>
        </th>
        <th scope="col">
            <a th:href="@{'/student/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                Email</a>
        </th>
        <th scope="col">
            <a th:href="@{'/student/page/' + ${currentPage} + '?sortField=login&sortDir=' + ${reverseSortDir}}">
                Login</a>
        </th>
        <th scope="col">Password</th>
        <th scope="col">
            <a th:href="@{'/student/page/' + ${currentPage} + '?sortField=city&sortDir=' + ${reverseSortDir}}">
                City</a>
        </th>
        <th scope="col">
            <a th:href="@{'/student/page/' + ${currentPage} + '?sortField=district&sortDir=' + ${reverseSortDir}}">
                District</a>
        </th>
        <th scope="col">
            <a th:href="@{'/student/page/' + ${currentPage} + '?sortField=school&sortDir=' + ${reverseSortDir}}">
                School</a>
        </th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <th scope="row"><span th:text="${student.studentid}"></span></th>
        <td th:if="${student.enabled}"><span th:text="${student.email}"></span></td>
        <td th:if="${not student.enabled}" class="table-danger"><span th:text="#{blocked}"></span></td>
        <td th:if="${student.enabled}"><span th:text="${student.login}"></span></td>
        <td th:if="${not student.enabled}" class="table-danger" ><span th:text="${student.login}"></span></td>
        <td th:if="${student.enabled}"><span th:text="${student.password}"></span></td>
        <td th:if="${not student.enabled}" class="table-danger"><span th:text="${student.password}"></span></td>
        <td th:if="${student.enabled}"><span th:text="${student.city}"></span></td>
        <td th:if="${not student.enabled}" class="table-danger" ><span th:text="${student.city}"></span></td>
        <td th:if="${student.enabled}" ><span th:text="${student.district}"></span></td>
        <td th:if="${not student.enabled}" class="table-danger" ><span th:text="${student.district}"></span></td>
        <td th:if="${student.enabled}" ><span th:text="${student.school}"></span></td>
        <td th:if="${not student.enabled}" class="table-danger" ><span th:text="${student.school}"></span></td>
        <td><span th:text="${student.rolesSet}"></span></td>
        <td>
            <!--<a class="btn btn-info" th:href="@{/submitFaculty/{studentid}(studentid=${student.studentid})}" th:text="#{accept}"></a>-->
            <form th:action="@{/submitFaculty/{studentid}(studentid=${student.studentid})}" method="post">
                <label>
                    <input type="hidden" name="filter" th:value="${facultyid}"/>
                </label>
                <button type="submit" class="btn btn-info" th:text="#{accept}"></button>
            </form>
        </td>

    </tr>

    </tbody>

</table>
<div th:if="${#lists.isEmpty(students)}" style="font-size: large;color: red;">
    <span th:text="#{no_students}"></span>
</div>
<div th:if = "${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            [[#{total_rows}]]: [[${totalItems}]]
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage > 1}" th:href="@{'/student/page/' + ${currentPage-1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" th:text="#{previousPage}"></a>
            <span th:unless="${currentPage > 1}" th:text="#{previousPage}"></span>
        </div>
        <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}"  th:href="@{'/student/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/student/page/' + ${currentPage+1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" th:text="#{nextPage}"></a>
            <span th:unless="${currentPage < totalPages}"></span>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>