<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="filter">
    <label>
        <input type="text" name="filter"/>
    </label>
    <button type="submit">Find students</button>
    <button onclick="alert('hello')">Get back</button>
</form>
<table>
    <thead>
    <tr>
        <th> Login </th>
        <th> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td colspan="2"> No Students Available </td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.email}"> Email </span></td>
        <td><span th:text="${student.password}"> Password </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>