<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 th:text="#{edit_system_student}">Student Management System</h1>
    <hr>
    <h2 th:text="#{edit_student}">Update Student</h2>

    <form action="#" th:action="@{/student/addStudent}" th:object="${student}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{studentid}" />

        <input type="text" th:field="*{email}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{login}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{city}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{district}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{school}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{rolesSet}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{enabled}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2" th:text="#{edit_student}"> Update Student</button>
    </form>

    <hr>

    <a th:href = "@{/findStudent}" th:text="#{back_to_list}"> Back to Find List</a>
</div>
</body>
</html>