<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
List of students
<table>
    <thead>
    <tr>
        <th> Login </th>
        <th> Role </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.email}"> Email </span></td>
        <td><span th:text="${student.rolesSet}"></span></td>
        <td><a href="/student/${student.id}}">edit</a> </td>
    </tr>
    </tbody>
</table>
</body>
</html>